<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">One Minute Pitch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
                
            </div>
            
            <div class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{url_for('account')}}">Account</a>
                <a class="nav-item nav-link " href="{{url_for('newpitch')}}">New Pitch</a>
                <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
            {%else%}
                <a class="nav-item nav-link" href="{{url_for('register')}}">SignUp</a>
                <a class="nav-item nav-link" href="{{url_for('signIn')}}">SignIn</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>